#last .listBlock {
  display: flex;
  gap: 50px;
}

#last .listBlock > div {
  display: flex;
  width: 26%;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

#last .text,
#last h3,
#last h4,
#last h2 {
  color: var(--last-text-color);
}

#last h3,
.listBlock h4,
.lastBlockElement h4 {
  font-size: 24px;
}

.listBlock ul,
.lastBlockElement ul,
.listBlock ol,
.lastBlockElement ol {
  margin-left: 16px;
}

.listBlock ul li,
.lastBlockElement ul li {
  list-style: disc inside;
}

.listBlock ol li,
.lastBlockElement ol li {
  list-style: decimal inside;
}

@media (max-width: 1100px) {
  #last .listBlock > div {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #last .listBlock > div,
  #last > div {
    gap: 24px;
  }

  #last h3 {
    font-size: 18px;
    font-weight: var(--font-weight-second);
  }
}

@media (max-width: 550px) {
  #last .listBlock {
    flex-direction: column;
  }

  #last .listBlock > div {
    width: auto;
  }
}
