.not-found {
  max-width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  align-items: center;
  color: var(--color-white);
  font-family: var(--font-family-main);
}

.not-found a {
  text-decoration: none;
  color: inherit;
}

.not-found-title {
  font-size: 64px;
  font-weight: 700;
  color: var(--topCasino-welcome);
}

.not-found-content {
  font-size: 24px;
  text-align: center;
}
