@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.bonusDetailSection_wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 140px;
}
.bonusDetailSection_wrapper h2 {
  color: var(--bonusDetailsTitle-text-color);
}

.redSection {
  background: var(--bg-section-second);
  padding: 64px 0;
}

.lastBlockElement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0;
}

.listBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 48px;
  width: 100%;
}
.gap-64 {
  gap: 64px;
}

/* Footer */
.footer {
  padding: 24px 0;
  background: var(--bg-footer);
  position: relative;
}
.footer .logo {
  position: absolute;
  left: 160px;
  top: 17px;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.footer .logo {
  height: 48px;
}
.payments,
.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 24px;
  column-gap: 16px;
}
.partners {
  max-width: 650px;
}
.partners img,
.payments img {
  max-height: 32px;
  width: auto;
}
.blockColor {
  mix-blend-mode: luminosity;
}
.paymentsBlock,
.partnersBlock {
  display: flex;
  align-items: center;
}
.paymentsBlock:hover .blockColor,
.partnersBlock:hover .blockColor {
  mix-blend-mode: normal;
}
.copyright {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-500);
  color: var(--copyright);
}
.copyrightLeft {
  font-size: 32px;
  margin-right: 16px;
  vertical-align: sub;
}
.copyrightRight {
  font-size: 20px;
  line-height: 40px;
  display: inline-block;
  margin-top: 3px;
}
@media (max-width: 1390px) {
  .footer .logo {
    position: inherit;
  }
}
@media (max-width: 850px) {
  .footer {
    padding: 12px 0;
  }
  .partners img,
  .payments img {
    max-height: 22px;
  }
  .partners,
  .payments {
    gap: 10px;
  }
  .copyrightLeft {
    margin-right: 8px;
    vertical-align: baseline;
  }
  .copyrightLeft,
  .copyrightRight {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 510px) {
  .copyrightRight {
    text-align: center;
  }
  .copyrightLeft {
    margin-right: 6px;
  }
}
@media (max-width: 440px) {
  .copyrightLeft,
  .copyrightRight {
    font-size: 16px;
    line-height: 20px;
  }
  .copyright {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .copyrightLeft,
  .copyrightRight {
    font-size: 14px;
    line-height: 16px;
  }
  .copyrightLeft {
    margin-right: 2px;
  }
}

/* FAQ */
.faqWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}
.faqBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#faq h2 {
  color: var(--faqTitle-text-color);
}
.faqElement {
  color: var(--faq-question-color);
  font-family: var(--font-family-main);
  background: var(--table-body);
  font-size: 24px;
  font-weight: var(--font-weight-second);
  /* text-transform: uppercase; */
  padding: 11px 36px;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.faqElement img {
  width: 24px;
  height: 24px;
  margin-right: 27px;
}
.faqText {
  font-family: var(--font-family-second);
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: 40px;
  color: var(--faq-text-color);
}

/* Top Games */
.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
}
.gameCard {
  position: relative;
  cursor: pointer;
  max-width: 264px;
  max-height: 142px;
  text-align: center;
  transition: transform 0.5s ease;
  border-radius: var(--border-radius);
  border: none;
}
.gameCard:hover {
  transform: scale(1.04);
}
.gameCard > div {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: var(--table-body);
  transition: opacity 0.5s ease;
  border-radius: var(--border-radius);
}
.gameCard:hover > div {
  opacity: 1;
}
.gameCard > img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--border-radius);
}

/* Payments tables */
.paymentsTableHead {
  display: flex;
  height: 60px;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  background-color: var(--table-head);
  color: var(--table-head-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family-second);
  font-size: 18px;
  font-weight: 500;
}
.paymentsTableHead .last {
  min-width: 168px;
}
.paymentsRow {
  display: flex;
  height: 80px;
  padding: 0 16px;
  align-items: center;
  gap: 10px;
  background-color: var(--table-body);
  border-radius: var(--border-radius);
}
.paymentsRow p {
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-500);
  font-size: 20px;
  line-height: 40px;
  color: var(--table-body-color);
}
.paymentsRow .button-secondary {
  width: 168px;
  text-decoration: none;
}
.paymentsRow img {
  filter: var(--shadow);
}

/* Second table (mobile) */
.paymentsCard {
  margin-top: 12px;
}
.paymentsCardHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 7px;
  gap: 10px;
  background-color: var(--payments-table-head);
  color: var(--table-head-color);
  font-family: var(--font-family-second);
  border-radius: var(--border-radius);
}
.paymentsCardHead a {
  text-decoration: none;
  width: 100%;
  max-width: 200px;
}
.paymentsCardBody {
  background: var(--payments-table-body);
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border-radius: var(--border-radius);
}
.paymentsCardBody .row {
  color: var(--table-body-color);
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  padding: 7px;
  border-bottom: 1px solid var(--after-element-second);
}
.paymentsCardBody .row:last-child {
  border-bottom: none;
}
.paymentsCardBody .label {
  color: var(--payments-text-left);
}
.paymentsCard .button-secondary {
  max-width: 200px;
  width: 100%;
}
@media (max-width: 1000px) {
  .paymentsTableHead,
  .paymentsRow {
    display: none;
  }
}
@media (min-width: 1001px) {
  .paymentsCard {
    display: none;
  }
}

.row {
  display: grid;
  grid-template-columns: 18% 22% 12% 13% 12% 23%;
  align-items: center;
  background: var(--table-body);
  border-radius: var(--border-radius);
}
/* Advantages */
.advantages {
  margin-bottom: 140px;
  position: relative;
}
.advantagesSection_wrapper {
  display: flex;
  margin-right: 345px;
}
.advantages .left {
  align-items: flex-start;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-right: 32px;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}
.advantages .left ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.advantages .left li {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 400px;
  font-family: var(--font-family-second);
  font-size: 24px;
  font-style: normal;
  font-weight: var(--font-weight-500);
  line-height: normal;
}
.advantages .right {
  position: relative;
  padding-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-white);
}
.advantages .title {
  color: var(--color-white);
  font-family: var(--font-family-main);
  font-size: 40px;
  font-style: normal;
  font-weight: var(--font-weight-second);
  line-height: 48px;
  /* text-transform: uppercase; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
.advantages .backImg {
  position: absolute;
  left: 340px;
  top: 20px;
  max-width: 220px;
}
.advantages .stores {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 1200px) {
  .advantages .backImg {
    position: static;
  }
}
@media (max-width: 768px) {
  .advantages .wrapper {
    flex-direction: column-reverse;
    gap: 24px;
  }
  .advantages .left {
    border: none;
    padding-right: 0;
  }
  .advantages .stores {
    flex-direction: row;
    justify-content: center;
  }
}
.cell .button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: none;
}
.cell .button:hover {
  transform: scale(1);
}
.cell img {
  max-width: 100%;
  height: auto;
}
.cell .img {
  filter: var(--shadow);
}
.cell {
  color: var(--table-body-color);
  font-family: var(--font-family-second);
  font-size: 20px;
  font-weight: var(--font-weight-500);
  line-height: 40px;
  padding: 9.25px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 88px;
}
 .row .cell::after {
  content: "";
  position: absolute;
  right: 0;
  height: 56px;
  width: 1px;
  background-color: var(--after-element);
}
 .row .cell.last::after {
  display: none;
}
.cell .button-secondary {
  width: 218px;
  height: 56px;
  padding: 2px 8px;
}

.show-850 {
  display: none;
}

@media (max-width: 1100px) {
  .row {
    grid-template-columns: 25% 15% 15% 15% 30%;
  }
  .hide-1000 {
    display: none !important;
  }
  .width-120 {
    width: 100px;
  }

  .width-140 {
    width: 120px;
  }

  .width-160 {
    width: 120px;
  }
}
@media (max-width: 850px) {
  .gap-64 {
    gap: 40px;
  }

  .lastBlock {
    flex-direction: column;
  }
  .cell {
    font-size: 18px;
    height: 80px;
    line-height: normal;
  }
  .row {
    grid-template-columns: 36% 22% 22% 20%;
  }

  .row button {
    width: auto;
  }

  .cell:after {
    display: none;
  }

  .cell:first-child:after {
    display: block;
    height: 64px;
  }
  .hide-850 {
    display: none !important;
  }

  .show-850 {
    display: block;
  }
}
@media (max-width: 1100px) {
  .gameCard h3 {
    font-size: 20px;
  }
  .gameBlock_text {
    font-size: 18px;
  }
  .gameCard > div {
    gap: 8px;
  }
}

@media (max-width: 950px) {
  .games {
    grid-template-columns: repeat(3, 1fr);
  }
  .gameCard {
    max-width: none;
    max-height: none;
  }
}

@media (max-width: 768px) {
  .redSection {
    padding: 40px 0;
  }
  .gameCard > div {
    border-radius: var(--border-radius);
  }
  .gameCard > img {
    border-radius: var(--border-radius);
  }
}

@media (max-width: 760px) {
  .games {
    grid-template-columns: repeat(2, 1fr);
    gap: 23px 16px;
  }
}
@media (max-width: 525px) {
  .games {
    grid-template-columns: repeat(1, 1fr);
  }
  .gameCard h3 {
    font-size: 24px;
  }
  .gameBlock_text {
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .footer .wrapper {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .listBlock {
    grid-template-columns: repeat(1, 1fr);
  }

  main {
    margin-bottom: 64px;
  }

  .footer .logo {
    height: 48px;
  }
  .footer .logo img {
    height: 48px;
  }

  .footer .wrapper {
    gap: 16px;
  }

  .faqElement {
    font-size: 18px;
    padding: 8px 20px;
    word-wrap: break-word;
    word-break: break-word;
    border-radius: var(--border-radius);
    font-weight: var(--font-weight-main);
  }

  .faqBlock {
    gap: 10px;
  }

  .faqText {
    font-size: 18px;
    line-height: 32px;
  }

  .faqElement img {
    margin-right: 19px;
    width: 18px;
    height: 18px;
  }
}
