#support {
  margin: 140px 0;
}

#support .leftBlock {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#support .wrapper {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
/* #support .wrapper img {
  margin-right: -100px;
  margin-top: 48px;
} */
#support .textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#support .textBlock ul {
  margin-left: 16px;
}

#support .textBlock ul li {
  list-style: disc inside;
}

#support .text,
#support h2 {
  color: var(--support-text-color);
}

@media (max-width: 1180px) {
  #support {
    margin: 64px auto;
  }
}

@media (max-width: 1380px) {
  #support .wrapper img {
    margin-right: 0px;
  }
}

/* @media (max-width: 1210px) {
  #support .wrapper img {
    display: none;
  }
} */
@media (max-width: 876px) {
  #support .wrapper {
    flex-direction: column;
    align-items: center;
  }
}