.table-wrap {
  /* max-width: 520px; */
  margin: 0 auto;
  overflow-x: auto;
}

.payment-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  background: #1f1f1f;
  /* border: 1px solid #2f2f2f; */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}
.payment-table .text {
  font-size: 24px;
}

.payment-table th,
.payment-table td {
  padding: 24px 16px;
  text-align: center;
  border-right: 6px solid var(--main-bg);
  border-bottom: 6px solid var(--main-bg);
}
.payment-table th {
  padding: 29px 16px;
}

.payment-table th {
  background: #414141;
  /* font-weight: 600;
  color: #f2f2f2; */
}

.payment-table th:last-child,
.payment-table td:last-child {
  border-right: 0;
}

.payment-table tbody tr:last-child td {
  border-bottom: 0;
}

.payment-table tbody tr:hover td {
  background: #242424;
}

@media (max-width: 876px) {
  .payment-table th {
    padding: 12px 16px;
  }

  .payment-table td {
    padding: 8px 16px;
    min-height: 80px;
  }
  .payment-table .text {
    font-size: 18px;
  }
}
@media (max-width: 520px) {
  .payment-table thead {
    display: none;
  }
  .payment-table tbody tr:last-child td {
    border-bottom: 1px solid #2f2f2f;
  }
  .payment-table tbody tr:last-child {
    margin-bottom: 0px;
  }

  .payment-table,
  .payment-table tbody,
  .payment-table tr {
    display: block;
    width: 100%;
  }

  .payment-table tr {
    margin-bottom: 12px;
    border: 1px solid #2f2f2f;
    border-radius: 16px;
    overflow: hidden;
    background: #1f1f1f;
  }

  .payment-table td {
    gap: 10px;
    text-align: left;
    padding: 12px 14px;
    border: 0;
    border-bottom: 1px solid #2b2b2b;
  }

  .payment-table tr td:last-child {
    border-bottom: 0;
  }

  .payment-table td::before {
    content: attr(data-label);
    flex: 0 0 40%;
    color: #bdbdbd;
    text-align: left;
  }
  .payment-table td {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .payment-table td {
    overflow-wrap: anywhere;
    word-break: break-word;
    text-align: right;
  }
}
